.App {
  margin: auto;
  text-align: center;
  width: 1000px;
  height: 100vh;
  
}

.App-button {
  
  width: 130px;
  height: 60px;
  padding: 10px;
  font-size: 24px;
  border-radius: 10px;
  border-color: rgb(74, 159, 215);
  background: rgb(74,159,215);
  box-shadow: 0px 10px;
  color: rgb(60,125,181);
  perspective: 1000px;
  transform: rotateX(30deg);
}

.App-button:active {
  
  box-shadow: 0px 5px;
  margin: 5px 0px;
}

.App-button:focus {
    outline: none;
}

.App-button span {
  color:white;
}